{% load static %}
<footer id="footer" class="overflow-hidden padding-large pb-0 bg-gray-100">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
                <div class="footer-menu">
                    <h5 class="widget-title pb-2 fw-semibold fs-2">About us</h5>
                    <p>Welcome to our cozy retreat nestled in the heart of Wayanad! At Heaven Villa, we're thrilled to
                        welcome you to your home away from home. </p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 pb-3">
                <div class="footer-menu">
                    <h5 class="widget-title pb-2 fw-semibold fs-2">Quick Links</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="pb-2">
                            <a href="#about">About</a>
                        </li>
                        <li class="pb-2">
                            <a href="#activities">Activities</a>
                        </li>
                        <li class="pb-2">
                            <a href="#our-rooms">Rooms</a>
                        </li>
                        <li class="pb-2">
                            <a href="#booking-wrap">Booking</a>
                        </li>
                        <li class="pb-2">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
                <div class="footer-menu">
                    <h5 class="widget-title pb-2 fw-semibold fs-2">Contact</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="pb-2">Heaven Villas
                        </li>
                        <li class="pb-2"><a href="tel:0387367162">0387367162</a>
                        </li>
                        <li class="pb-2">
                            <a href="mailto:hoangdieu22022002@gmail.com">hoangdieu22022002@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
                <div class="footer-menu">
                    <h5 class="widget-title pb-2 fw-semibold fs-2">Get social</h5>
                    <p>Follow us on social platforms and keep in touch with <a href="https://templatesjungle.com/">Templates
                        Jungle.</a></p>
                    <ul class="social-links list-unstyled d-flex mt-3">
                        <li class="border d-flex justify-content-center align-items-center mx-auto">
                            <a href="#">
                                <svg class="facebook text-primary-500" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="border d-flex justify-content-center align-items-center mx-auto">
                            <a href="#">
                                <svg class="twitter text-primary-500" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="border d-flex justify-content-center align-items-center mx-auto">
                            <a href="#">
                                <svg class="instagram text-primary-500" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="border d-flex justify-content-center align-items-center mx-auto">
                            <a href="#">
                                <svg class="youtube text-primary-500" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="border d-flex justify-content-center align-items-center mx-auto">
                            <a href="#">
                                <svg class="linkedin text-primary-500" width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use xlink:href="#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-between border-top pt-3">
            <div class="col-lg-4">
                <p>© 2024 Copyright HoangDieu.</p>
            </div>
            <div class="col-lg-4">
                <div class="payment-methods d-flex justify-content-center">
                    <p class="pe-2">Payment methods:</p>
                    <img src="{% static 'webapp/images/payment-items.png' %}" alt="payment">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="payment-methods d-flex justify-content-end">
                    <p>Developed By: <a href="https://hoangdieuit.io.vn">HoangDieu</a></p>

                </div>
            </div>


        </div>

    </div>
</footer>

